<header>
	<a href="/" class="logo">{% image "logo.png", "Bauwerks logo" %}</a>
	<nav>
		<ul>
			<li><a href="/animation">Animation</a></li>
			<li><a href="/illustrations">Illustrations</a></li>
			<li><a href="*">Photography</a>
				<ul class="dropdown">
					<li><a href="/hong-kong">Hong Kong</a></li>
					<li><a href="/kanazawa">Kanazawa</a></li>
					<li><a href="/kyoto">Kyoto</a></li>
					<li><a href="/las-vegas">Las Vegas</a></li>
					<li><a href="/los-angeles">Los Angeles</a></li>
					<li><a href="/osaka">Osaka</a></li>
					<li><a href="/san-diego">San Diego</a></li>
					<li><a href="/tokyo">Tokyo</a></li>
				</ul>
			</li>
			<li><a href="/about">About</a></li>
		</ul>
	</nav>
</header>  