/* || Fonts */
@font-face {
    font-family: "Permanent Marker";
    src: local("Permanent Marker"), 
    	url(/assets/fonts/PermanentMarker-Regular.woff2) format("woff2"),
      url(/assets/fonts/PermanentMarker-Regular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Reenie Beanie";
    src: local("ReenieBeanie-Regular"), 
    		url(/assets/fonts/ReenieBeanie-Regular.woff2) format("woff2"),
        url(/assets/fonts/ReenieBeanie-Regular.woff) format("woff");
}

/* || General styles */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background-color: #dbd4c3; 
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	
}
ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* This ends the HTML5 rules */

body {
  overflow-x: auto;  
}

main {
	margin-top: 5em;
	padding: 2em;
}

article {
  margin: auto;
  width: 90%;
}

section {
	 display: grid;
	 grid-template-columns: 4fr 1fr;
}

p {
  font: 1.3em "AppleGaramond-Light" /*2em "Reenie Beanie", "Nothing You Could Do"*/;
  grid-column: 1;
  color: #3b3a36;
}

ul {
	grid-column: 1;
}

ol {
	grid-column: 1;
}

img {
	width: 20rem;
	margin: auto;
	grid-column: 1;
}

/* Post media settings */
div.postvid {
	grid-column: 1;
}

div.postvid video {
	width: 600px;
}

time {
	font: 1.7em "Reenie Beanie", "Nothing You Could Do";
	margin: auto;
	text-align: center;
  color: #5b5b59;
}