/* || Fonts */
@font-face {
	font-family: "Rock Salt";
	src: local("Rock Salt"), 
		url(/assets/fonts/RockSalt-Regular.woff2) format("woff2"),
		url(/assets/fonts/RockSalt-Regular.woff) format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Permanent Marker";
	src: local("Permanent Marker"), 
		url(/assets/fonts/PermanentMarker-Regular.woff2) format("woff2"),
		url(/assets/fonts/PermanentMarker-Regular.woff) format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Reenie Beanie";
	src: local("ReenieBeanie-Regular"), 
		url(/assets/fonts/ReenieBeanie-Regular.woff2) format("woff2"),
		url(/assets/fonts/ReenieBeanie-Regular.woff) format("woff");
}

@font-face {
	font-family: "AppleGaramond-BoldItalic";
	src: local("AppleGaramond-BoldItalic"), 
		url(/assets/fonts/AppleGaramond-BoldItalic.woff) format("woff");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "AppleGaramond-Italic";
	src: local("AppleGaramond-Italic"), 
		url(/assets/fonts/AppleGaramond-Italic.woff) format("woff");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "AppleGaramond-Light";
	src: local("AppleGaramond-Light"), 
		url(/assets/fonts/AppleGaramond-Light.woff) format("woff");
	font-weight: light;
	font-style: normal;
}

@font-face {
    font-family: "AppleGaramond-LightItalic";
    src: local("AppleGaramond-LightItalic"), 
    	url(/assets/fonts/AppleGaramond-LightItalic.woff) format("woff");
    font-weight: light;
    font-style: italic;
}

/* || General styles */

/* Reset stuff */

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

* {
  margin: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Resets end here (some settings are in body too) */

body {
  overflow-x: auto;
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;  
  background-color: #dbd4c3;
}

main {
	margin-top: 5rem;
	padding: 2rem;
}

article {
  margin: auto;
  width: 90%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Rock Salt";
  color: #3b3a36;
  line-height: 1.5;
  text-wrap: balance; 
}

h1 {
  font-size: 4rem;
  margin-bottom: 4rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 2.5rem;
}

h3 {
  font-size: 1.8rem;
  margin-bottom: 3rem;
}

p {
  font: 1.3rem "AppleGaramond-Light";
  color: #3b3a36;
  width: 60%;
	margin: 1.4rem 0 1.4rem 0;
  overflow-wrap: break-word;
}

strong {
	font: 1rem "AppleGaramond-Bold";
  margin: auto auto 1.3rem auto;
  width: 80%;
  text-align: left;
  color: #3b3a36;
}

em {
	font: 1.2rem "AppleGaramond-LightItalic";
  margin: auto auto 1.3rem auto;
  width: 80%;
  text-align: left;
  color: #3b3a36;
}

ul {
	font: 1.3rem "AppleGaramond-Light";
	margin: 2rem;
}

ol {
	font: 1.3rem "AppleGaramond-Light";
	margin: 2rem;
}

aside {    
	font: 1.4rem "Reenie Beanie";
	color: #3b3a36;
	float: right;    
	clear: right;    
	margin-right: -60%;    
	width: 30%;    
	margin: -4rem 0 0 0;       
	vertical-align: baseline;    
	position: relative;
}

aside > p {
  margin: 0.5rem;
}

p.tags {
	font: 1.3rem "Reenie Beanie";
	color: #5b5b59;
	width: 65%;
	display: block;
	text-align: center;
  margin: 1.1rem auto 1.1rem auto;
}

time {
	font: 1.8rem "Reenie Beanie";
	color: #5b5b59;
	display: block;
	text-align: center;
  margin: 4.5rem auto auto auto;
}

p.footer {
	font: 2rem "Reenie Beanie";
  margin: auto;
  width: 80%;
  text-align: left;
  color: #3b3a36;
}

a.link:link {
	color: #6900ff;
}

a.link:visited {
	color: #e0352c;
}

a.link:focus {
	text-decoration: none;
  background: none;
}

a.link:hover {
	text-decoration: none;
}

a.permalink:link {
	color: #3b3a36;
}

a.permalink:visited {
	color: #3b3a36;
}

a.permalink:focus {
	text-decoration: none;
  background: none;
}

a.permalink: hover {
	text-decoration: none;
}

/* Horizontal solid border for ends of posts */
hr.solid {
  border-top: 0.08rem solid #5b5b59;
  width: 45%;
  margin: 2rem auto 6rem auto;
}

/* Vertical line for separating footer links */
.vl {
  border-left: 0.07rem solid #3b3a36;
  height: 1rem;
}

/* Post media settings */
article img {
	max-width: 60%;
	height: auto;
	object-fit: contain;
	margin: 2rem 0 2rem 0;
}

article video {
	max-width: 60%;
	height: auto;
	margin: 2rem 0 2rem 0;
}

.gallery img {
	height: auto;
}

.gallery.video {
	width: 60%
	height: auto;
}

/* || Gallery styles (Animation, Illustrations, Photography) */

/* Grid settings */
.gallery {
  display: grid;
  justify-content: center;
  grid-template-columns: 2fr 2fr;
  grid-auto-flow: dense;
  grid-gap: 0.5rem;
  width: 90%;
  margin: auto;
}

/* || Sitewide */

/* navbar */
header { 
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 2;
  width: 100%;
  top: 0;
  background-color: #3b3a36; 
  box-shadow: 0rem 0.1rem 0.2rem 0.3rem rgba(0,0,0,0.3), 0rem 0.2rem 0.3rem 0.3rem rgba(0,0,0,0.1);
}

.logo img {
  width: 50%;
  height: auto;
  margin: auto 0 0.8rem 0.3rem;
  background-color: #3b3a36;
}

/* navbar links */
nav {
	display: flex;
}

nav ul {
	list-style: none;
	margin: 0;
	display: flex;
}

nav ul li {
  font: 2rem/2 "Reenie Beanie";
  background-color: #3b3a36;
  color: #dbd4c3;
  margin: 0 1.5rem 0 1.5rem;
}

nav ul li a {
	background-color: #3b3a36;
  color: #dbd4c3;
  text-decoration: none;
}

nav ul li:hover {
	cursor: pointer;
}

.dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 2;
  margin: 0.34rem 3rem 0 0;
  display: none;
  background-color: #3b3a36;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  box-shadow: 0rem 0.1rem 0.2rem 0.3rem rgba(0,0,0,0.3), 0rem 0.2rem 0.3rem 0.3rem rgba(0,0,0,0.1);
}

.dropdown li {
  width: 100%;
  margin: 0 2rem 0 0;
}

/* || Homepage pagination */

.pagination {
  display: flex;
  flex-direction: row;
  font: 2rem "Reenie Beanie";
  text-align: center;
  justify-content: center;
}

 /* Pagination links */
.pagination a {
  color: #3b3a36;
  padding: 0.2rem 0.5rem;
  text-decoration: none;
}

/* Style the active/current pagination link */
.pagination [aria-current="page"] {
  background-color: #3b3a36;
	color: #dbd4c3;
}

.footer {
  display: flex;
  width: 65%;
  align-items: center;
  margin: 2rem auto 2rem auto;
}

.footer a {
	color: #3b3a36;
}

.footer li {
	font: 2rem "Reenie Beanie";
	list-style: none;
	margin: auto 0.7rem auto 0.7rem;
}