---
pagination:
  data: collections.posts
  size: 2
  reverse: true
  alias: posts
permalink: "/{% if pagination.pageNumber != 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}"
layout: layouts/base.html
title: Home
---

{%- for post in posts -%}
	<article>
		<h3><a class="permalink" href="{{ post.url }}">{{ post.data.title }}</a></h3>
			{{ post.content | safe }}
		<time>{{ post.data.date | postDate }}</time>
		<p class="tags">Tags:
			{% for tag in post.data.tags %}
		<a class="tags" href="/tags/{{ tag | slugify }}">{{ tag }}</a>
			{% endfor %}</p>
		<hr class="solid">
	</article>
{%- endfor -%}

{% if pagination.pages.length >= 2 %}
		<nav class="pagination" aria-label="Pagination">
{% set increment = 5 %}
{% if pagination.hrefs[pagination.pageNumber - increment] %}
  <a href="{{ pagination.hrefs[pagination.pageNumber - increment] }}">&laquo;</a>
{% endif %}
{% if pagination.href.previous %}
			<a href="{{ pagination.href.previous }}">&lt;</a>
{% endif %}
{%- for pageEntry in pagination.pages %}		
			<a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>{{ loop.index }}</a>
{%- endfor %}
{% if pagination.href.next %}
			<a href="{{ pagination.href.next }}">&gt;</a>
{% endif %}
{% set increment = 5 %}
{% if pagination.hrefs[pagination.pageNumber + increment] %}
  <a href="{{ pagination.hrefs[pagination.pageNumber + increment] }}">&raquo;</a>
{% endif %}
		</nav>
{% endif %}
